<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    
    <link rel="stylesheet" href="/css/community.css">

    <title><%= page_title %></title>
</head>

<body>

     <%- include('nav'); %>

     <%- include('sidebar', community); %>

     <%- include('feed', {feed, community}); %>

    <script src="/js/main.js"></script>
</body>

</html>