<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/form.css" />
    <title>Register</title>
</head>

<body>
        
    <%- include('nav'); %>
    
    <section>
        <form method="POST" action="/insertCommunity" id="register">
            <br>
            <h2>Create a new Community</h2>
            Community Name:
            <br>
            <input type="text" required name="CName" id="CName" placeholder="Community Name">
            <br> Address (Optional):
            <br>
            <input type="text" name="Address" id="Address" placeholder="Community Address">
            <br>
            <button type="submit" id="rsubmit"> Register </button>
        </form>
    </section>

    <script src="/js/main.js"></script>
</body>

</html>