<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/form.css" />
    <title>Register</title>
</head>

<body>
        
    <%- include('nav'); %>
    
    <section>
        <form method="POST" action="/insertCommunity" id="register">
            <br>
            <h2>Create a new Community</h2>
            Community Name:
            <br>
            <input type="text" required name="CName" id="CName" placeholder="Community Name">
            <br> Address (Optional):
            <br>
            <input type="text" name="Address" id="Address" placeholder="Community Address">
            <br>
            <button type="submit" id="rsubmit"> Register </button>
        </form>
    </section>

    <script src="/js/main.js"></script>
</body>

</html>