<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/css/profile.css">
    <title>Create Community</title>
</head>

<body>
    <div id="app">
        <%- include('nav', communityList); %>

            <div id="createcom">
                <div id="formcom">
                    <form method="POST" action="/insertCommunity" id="newcom">
                        <h3>Create a new Community</h3>
                        <input type="text" required name="CName" id="CName" placeholder="Name">
                        <hr>
                        <input type="text" name="Address" id="Address" placeholder="Address">
                        <button class="enter" type="submit" id="rsubmit"> Create </button>
                    </form>
                </div>
            </div>
    </div>

    <script src="/js/main.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                notifications: [
                    <% for (let i = 0; i < notifs.length; i++) { %>
                    <% var p = notifs[i]%>
                    <%= p.id %><% if(i != notifs.length-1){ %>,<% } %>
                    <% } %>
                ],
                notifs: <%= notifs.length %>,
            },
            mounted: function () {}
        });
    </script>

<script>
socket.on('notif', function (data) {
    if(!app.notifications.includes(data.id))
    {
        app.notifications.unshift(data.id);
        app.notifs += 1;
    }
});
</script>
</body>

</html>