<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/css/profile.css">
    <title>Register</title>
</head>

<body>

    <%- include('nav', communityList); %>

        <div id="createcom">
            <div id="formcom">
                <form method="POST" action="/insertCommunity" id="newcom">
                    <h3>Create a new Community</h3>
                    <input type="text" required name="CName" id="CName" placeholder="Name">
                    <hr>
                    <input type="text" name="Address" id="Address" placeholder="Address">
            </div>
            <button type="submit" id="rsubmit"> Register </button>
            </form>
        </div>

        <script src="/js/main.js"></script>
</body>

</html>