<div class="right" id="feed">
    <ul>
        <% for (let i = 0; i < feed.length; i++) { %>
            <% var element = feed[i]%>
            
            <li class="post">
                <article class="post-content">
                    <p class="post-name"><%= element.FirstName+ ` `+ element.LastName %></p>
                    <p class="post-info"><%= element.UserName+ ` `+ element.PostDate %></p>
                    <p class="post-text"> <%= element.Content %></p>
                </article>
                <br>
                <section class="post-reactions">
                    <div class="accept">0 Accepts</div>
                    <div class="post-comment">0 Comments</div>
                </section>
            </li>
            <br>
            <br>

         <% } %>
    </ul>
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <form method="POST" id="postform" action='/newp'>
                <h2>Create a new Post</h2>
                <p>What do you need help with?</p>
                <br>
                <textarea required type="content" id="content" name="content" style="resize: none;" cols="40" rows="5" placeholder="Don't give unnecessary information    Doing so might compromise your safety"></textarea>
                <input style="visibility:hidden;" type="text" name="comID" id="comID" value="<%-community %>">
                <br>
                <button type="submit" class="btn btn-primary" id="submit"> SUMBIT </button>
            </form>
        </div>
    </div>
</div>

