<div class="right" id="feed">
    <ul>
        <% for (let i = 0; i < feed.length; i++) { %>
            <% var element = feed[i]%>
            
            <li class="post">
                <article class="post-content">
                    <p class="post-name"><%= element.FirstName+ ` `+ element.LastName %></p>
                    <p class="post-info"><%= element.UserName+ ` `+ element.PostDate %></p>
                    <p class="post-text"> <%= element.Content %></p>
                </article>
                <section class="post-reactions">
                    <div class="accept">0 Accepts</div>
                    <div class="post-comment">0 Comments</div>
                </section>
            </li>
            <br>
            <br>

         <% } %>
    </ul>
</div>


<!--
<li class="post">
    <article class="post-content">
        <p class="post-name">`+element.FirstName+ ` `+ element.LastName+`</p>
        <p class="post-info">`+element.UserName+ ` `+ element.PostDate+`</p>
        <p class="post-text">`+element.Content+`</p>
    </article>
    <section class="post-reactions">
        <div class="accept">0 Accepts</div>
        <div class="post-comment">0 Comments</div>
    </section>
</li>
<br>
<br> -->

