<script type="text/javascript">
    $(document).ready(function () {
        $('input.typeahead').typeahead(
        {
            name: 'Communities',
            remote: '/search?key=%QUERY',
            limit: 10
        }
        );
        $('input.typeahead').bind('typeahead:select', function(ev, suggestion) {
            console.log('Selection: ' + suggestion.ID);
        });
});
</script>

<div id="navbar">
    <ul>
        <li>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Communities</button>
                <div id="myDropdown" class="dropdown-content">
                    <% for (let i = 0; i < communityList.length; i++) { %>
                    <a href="/feed/<%- communityList[i].communityid %>">Community <%- communityList[i].communityid %></a>
                    <% } %>
                    <a href="/createCommunity">Create Community</a>
                </div>
            </div>
            <!-- <a class="active" href="#intro">Communities</a> -->
        </li>
        <li>
            <a href="/calendar">Calendar</a>
        </li>
        <li>
            <a href="#profile">Profile</a>
        </li>
        <li>
            <a href="/">Index</a>
        </li>
        <li>
            <div class="bs-example">
                <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search Community by name or adress">
            </div>
        </li>
        <li style="float:right">
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div>