<div class="right" id="request">
    <div align="center" style="position: relative; top: 30vh;" id ="">
        <p>
            <b>You do not have access to this community!</b>
        </p>
        <p>
            <b>Send a request to join to the administrators of this community by clicking the button bellow</b>
        </p>
        <div onclick="request(this.id);" id="<%= community %>" class="button">Request Access</div>
    </div>
</div>