<div class="left" id="sidebar">
    <img class="profile-pic circular--square" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA3sT9gBpKnl_cJRDOqrq-_NiwosIBY_eHuisQ_Kj8SkABMqaw" />
    <a href="/feed/<%- community %>"><p class="name"> Community <%- community %></p></a>
    <p class="bio">
        Group of Community <%- community %>,
        dhfdsfhds kfjsdvgoj rh tgjaehg etsgubitra jrtb sthwr hrth st eht htrtwhthh hrthrthrtgurhkhfehosehvuhle
        hug evgkjh gorhgerhg rgherghkhg4e geg et er regergerg er geg er geg ergre e
    </p>
    <a id="new" class="button" href="#popup1">NEW POST</a>
</div>