<div class="left" id="sidebar">
    <img class="profile-pic" src="buildding.png" />
    <p class="name">Prédio azul</p>
    <p class="bio">
        Grupo do prédio azul Cenas e tal, dhfdsfhds kfjsdvgoj rh tgjaehg etsgubitra jrtb sthwr hrth st eht htrtwhthh hrthrthrtgurhkhfehosehvuhle
        hug evgkjh gorhgerhg rgherghkhg4e geg et er regergerg er geg er geg ergre e
    </p>

    <form method="POST" action="/other">
        <button id="new">NEW POST</button>
    </form>
</div>