<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/todo.css" />
    <title>Register</title>
</head>

<body>
    <%- include('nav'); %>
        <div class="wrap">
                <div id="inserttodo">
                        <form method="POST" action="/insertTodo" id="todo">
                            <h3>Insert To-Do Event</h2>
                            <input type="text" name="description" id="description" placeholder="Your To-Do description">
                            <hr>
                            Due date:
                            <input type="datetime-local" name="date" id="date"/>
                            <button type="submit" id="esubmit"> Insert Event </button>
                        </form>
                </div>

                <div id="events">
                    <ul>
                        <% for (let i = 0; i < events.length; i++) { %>
                            <% var element = events[i]%>
                                <li id="event">
                                    <article class="event-content">
                                        <p class="event-date">
                                            <%= `Due: `+ element.date %>
                                        </p>
                                        <hr>
                                        <p class="event-info">
                                            <%= element.description %>
                                        </p>
                                    </article>
                                    <div id="deletetodo" onclick="delete(this.id);"> DELETE</div>
                                </li>
                                <br>
                                <hr id="line">

                                <% } %>
                    </ul>
                </div>
                
        </div>

        <script src="/js/main.js"></script>
        <script>
            $(function () {
                var dtToday = new Date();

                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                var hours = dtToday.getHours();
                var min = dtToday.getMinutes();
                if (month < 10)
                    month = '0' + month.toString();
                if (day < 10)
                    day = '0' + day.toString();

                var maxDate = year + '-' + month + '-' + day + "T" + hours + ":" + min;
                console.log(maxDate);
                $('#date').attr('min', maxDate);
            });
        </script>
</body>

</html>