#sidebar{
  min-width: 20%;
  max-width: 20vw;
  background-color: #ffa318;
  color: black;
  min-height: 93vh;
  max-height: 93vh;
  bottom: 0;
  padding: 0;
  margin: 0;
  align-content: center;
  justify-content: center;
}

#feed{
  overflow-y: scroll;
  min-width: 80%;
  max-width: 80vw;
  justify-content: center;
  background-color: #696868;
  color: black;
  bottom: 0;
  min-height: 93vh;
  max-height: 93vh;
  padding: 0;
  margin: 0;
}

#request{
  overflow-y: scroll;
  min-width: 80%;
  max-width: 80vw;
  justify-content: center;
  background-color: #696868;
  color: black;
  bottom: 0;
  min-height: 93vh;
  max-height: 93vh;
  padding: 0;
  margin: 0;
}

#feed ul{
  list-style: none;
  padding: 0;
}

.profile-pic{
  margin: auto;
  margin-top: 5vh;
  display: block;
  width: 12vw;
  height: 12vw;
}

.name{
  color: #ffffff;
  margin: auto;
  text-decoration: underline;
  text-align: center;
  font-size: 2em;
}

.post{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: auto;
  margin-top: 1vh;
  background-color: #e0e0e0;
  min-height: 30vh;
  width: 60vw;
  margin-bottom: 2vh;
  position: relative;
}

.post-info{
  margin: 0.25em;
  font-size: 0.9em;
  font-style: bold;
  color: black;
}

.post-name{
  margin: 0.25em;
  font-size: 1.7em;
  font-style: bold;
  color: black;
}

.post-text{
  word-wrap: break-word;
  margin-top: 0.5em;
  margin-left: 0.25em;
  font-size: 1.5em;
  color: black;
  bottom: 0;
}

.post-reactions{
  width: inherit;
  position: absolute;
  bottom: 0;
  display: inline-block;
}

.post-reactions div{
  background-color: #1762b5;
  color: white;
  display: inline-block;
  margin: auto;
  height: 8vh;
  width: 50%;
  text-align: center;
}

.post-reactions div:hover{
  cursor: pointer;
}

.accepted{
  background-color: #06D85F !important;
}

.post-comment, .accept{
  padding-top: 2.5vh;
}

.comment{
  display: flex;
  flex-direction: column;
  min-height: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: auto;
  margin-top: 1vh;
  background-color: #e0e0e0;
  width: 60vw;
}
.comment-info{
  margin: 0.25em;
  font-size: 14px;
  font-style: bold;
  color: black;
}

.comment-text{
  word-wrap: break-word;
  margin-left: 0.25em;
  font-size: 12px;
  color: black;
  bottom: 0;
}

#commform{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: auto;
  min-height: 2vh;
  height: 5vh;
  width: 60vw;
  margin-bottom: 6vh;
  position: relative;
}

#comform button, #comform textarea{
  display: inline-block;

}

#commform button{
  width: 10%;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 0; 
}

#commform textarea{
  width: 90%;
  height: 100%;
}

#postID{
  width: 0;
  height: 0;
  display: none;
}

a#help.button {
  margin: 0;
  width: 50%;
}

#help{
  color: white;
}


/* ---------------------------POPUP NEW POST ------------------------------------ */

#leave{
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 2vw;
  height: 2vw;
  text-align: center;
  background-color: red;
  font-size: 110%;
  color: white;
  cursor: pointer;
  padding-top: 1.5%;
}

.kick{
  text-align: center;
  background-color: red;
  font-size: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.promote{
  text-align: center;
  background-color: green;
  font-size: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.demote{
  text-align: center;
  background-color: orange;
  font-size: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.kick p, .promote p, .demote p{
  margin: auto;
}

.button {
  background-color: #1762b5;
  margin: auto;
  width: 60%;
  margin-top: 3vh;
  display: block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.button:hover {
  color: #ffa318;
  Background-color: #333;
}

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

a#new, a#join, a#members, a#createevent, a#addevent {
  font-size: 12px;
}

a#createevent, a#join {
  scale: 0.7; 
}

.popup {
  display: flex;
  max-height: 75vh;
  flex-direction: column;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow-y: scroll;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
    visibility:hidden;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
}