#sidebar{
  min-width: 20%;
  max-width: 20vw;
  align-content: center;
  justify-content: center;
  background-color: #ffa318;
  color: black;
  min-height: 95%;
  max-height: 93vh;
  bottom: 0;
  padding: 0;
  margin: 0;
  align-content: center;
}

#feed{
  overflow-y: scroll;
  min-width: 80%;
  max-width: 80vw;
  justify-content: center;
  background-color: #696868;
  color: black;
  bottom: 0;
  min-height: 95%;
  max-height: 93vh;
  padding: 0;
  margin: 0;
}

#feed ul{
  list-style: none;
}

.profile-pic{
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh; 
  display: block;
  width: 15vw;
  height: 15vw;
}

.name{
  color: #ffffff;
  text-align: left;
  text-decoration: underline;
  text-align: center;
  font-size: 2em;
}

.post{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: auto;
  background-color: #e0e0e0;
  min-height: 40vh;
  width: 60vw;
  margin-bottom: 5vh;
  position: relative;
}

.post-name, .post-info{
  margin: 0.25em;
  font-size: 1.2em;
  font-style: bold;
  color: black;
}

.post-text{
  word-wrap: break-word;
  margin-left: 0.25em;
  font-size: 1.5em;
  color: black;
  bottom: 0;
}

.post-reactions{
  width: inherit;
  position: absolute;
  bottom: 0;
  margin: 0 0 0 0.25em; 
  display: inline-block;
}

.post-reactions div{
  display: inline-block;
  margin: auto;
  height: 5vh;
  width: 49.7%;
  text-align: center;
}
/* ---------------------------POPUP NEW POST ------------------------------------ */

.button {
  background-color: #1762b5;
  margin: auto;
  width: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.button:hover {
  color: #ffa318;
  Background-color: #333;
}

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
    visibility:hidden;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* ------------------------ SCROLL BAR SETUP ------------------------------------ */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff8000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #1762b5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}