body{
    margin: 0;
    width: 100vw;
    max-width:100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

#navbar ul {
    z-index: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
}

#navbar ul li {
    float: left;
    height: 100%;
    
}

#navbar li a , .dropbtn{
    background-color: #333;
    display: block;
    border: none;
    color: white;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
}

#navbar  li a:hover{
    background-color: #ffa318;
}

a.active {
    background-color: #ffa318;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffa318;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.right{
    position: absolute;
    right: 0;
    bottom: 0;
}

.left{
    position: absolute;
    left: 0;
    bottom: 0;
}

.circular--square {
    border-radius: 50%;
  }

/* search bar */
#navbar ul li div.bs-example {
    padding: 6px 8vw;
}

.typeahead, .tt-query, .tt-hint {
    align-content: center;
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 16px;
	height: 20px;
	line-height: 10px;
	outline: medium none;
	padding: 1vh 1vw;
	width: 30vw;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 2vh 0vw;
	width: 45vw;
}
.tt-suggestion {
	font-size: 20px;
	line-height: 20px;
	padding: 1vh 2vw;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}