body {
    font-family: 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
    }

form {
    font-size: 14px;
    padding: 2.5vh 0;
    border: 2px solid lightgrey;
    border-radius: 5%;
   background-color: white
}

div#form {
    position: relative;
}

div#updatediv {
    width: 20vw;
    margin-top: 20vh;
    text-align: center;
    display: block;
    padding: 0;
}

form h3 {
    margin: auto;
    text-align: center;
}

input#hideshowinfo {
    width: 10vw;
    font-size: 14px;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
    margin-top: 1vh;
    padding: 1vh 0;
    background-color: orange;
    color: rgb(255, 255, 255);
}

button#usubmit {
    width: 20vw;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    margin-top: 2.5vh;
    padding: 3vh 0;
    background-color: orange;
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, rgb(133, 132, 132), #ccc);
}

.profile-pic{
    position: absolute;
    z-index: 5;
    display: block;
    margin: 0 auto;
    top: 10vh;
    right: 47vw;
    width: 6vw;
    height: 6vw;
  }