body{
    margin: 0;
    width: 100vw;
    max-width:100%;
    background-color: white;
}

#navbar ul {
    height: 7vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    border: 0;
}

li {
    float: left;
    height: 100%;
}

li a {
    display: block;
    border: none;
    height: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

a.active {
    background-color: #ffa318;
}

.right{
    position: absolute;
    right: 0;
}

.left{
    position: absolute;
    left: 0;
}